/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 80%;
}

h1 {
  text-align: center;
}

.col-md-6 {
  margin-bottom: 1.75cm;
  margin-top: 1.75cm;
  margin-right: .5cm;
  margin-left: .5cm
}


/* #bar,
#doughnut,
#radar,
#polar {
  
    padding: 10 !important;
    margin: 10;

} */