/* Image for jumbotron */
.jumbotron {
  background-image: url("pink-ribbon.jpg") !important; 
  background-size: cover ; 
}

/* Formatting quote */
.quote{
  padding-right: 20%;
  padding-left: 20%;
}

/* Button color */
.btn{
  background-color: rgba(245, 245, 245, 0.945);
  color: black;
  border-color: black;
}

/* Remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color: rgb(192, 181, 216) ;
}

/* Set body and html to 80% of the screen size */
body,
html {
  height: 80%;
}

/* Set map to 80% of the screen size */
#map{
  height: 80%;
  width: 80%;
}

/* Aligning text */
h1 {
  text-align: center;
  margin-top:0px;
  padding-top: 0px;
}

/* Removing margins and padding */
h2{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Legends */
.legend {
  line-height: 18px;
  color: #555;
  background-color: whitesmoke;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  clear:both;
}

/* Chart.js bar and radar charts */
#bar,
#radar{
    margin-bottom: 2%;
    background-color: white;
    
} 

/* Chart.js doughnut and polar charts */
#doughnut,
#polar {
  margin-bottom: 2%;
  background-color: white;
}

/* Bubble Graph */
#bubble {
  margin-bottom: 2%;
}

