/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}


/* set map, body, and html to 100% of the screen size */
/* #map, */
body,
html {
  height: 80%;
}

#map{
  height: 80%;
  width: 80%;
  margin-left: 3cm; /* how to align center????? */

}

h1 {
  text-align: center;
}

.col-md-6 {
  /* margin-bottom: 1.75cm; */
  margin-top: .5cm;
  /* margin-right: .5cm; */
  /* margin-left: .5cm */
  /* height: 100% !important;
  width: 100% !important; */
  padding: 0
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: whitesmoke;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* #bar,
#doughnut,
#radar,
#polar {
  
    padding: 10 !important;
    margin: 10;

} */